* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

*::selection {
  color: #ff004c;
  background-color: black; }

.div_btn_home {
  display: flex;
  width: 1600px;
  margin: 50px auto 0px;
  height: 100%; }
  .div_btn_home a {
    margin: 0px 50px; }
    .div_btn_home a .btn_home {
      width: 700px;
      text-align: center;
      height: 900px;
      background-color: black;
      color: white;
      transition: 0.5s;
      font-size: 50px; }
    .div_btn_home a .vista:hover {
      background-color: red;
      transition: 0.5s;
      transform: scale(1.1, 1.1);
      cursor: pointer; }
    .div_btn_home a .agregar:hover {
      background-color: green;
      transition: 0.5s;
      transform: scale(1.1, 1.1);
      cursor: pointer; }

.new_product_title {
  margin: auto;
  text-align: center;
  margin: 20px; }

.form_new_product {
  width: 500px;
  margin: auto;
  text-align: center; }
  .form_new_product label {
    margin: 5px;
    display: block; }
  .form_new_product input {
    width: 300px;
    text-align: center;
    height: 30px;
    margin: auto 40px; }
  .form_new_product #new_product_submit {
    margin-top: 20px; }

.register_form_input {
  display: block; }

.div_padre_chat {
  width: 1000px;
  margin: auto; }
  .div_padre_chat .div_chat {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column; }
    .div_padre_chat .div_chat .chat_messages {
      height: 700px;
      width: 500px;
      margin-bottom: 5px;
      border: 2px solid black;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .div_padre_chat .div_chat .chat_messages p {
        margin: 5px 10px; }
      .div_padre_chat .div_chat .chat_messages .chat_title {
        padding: 5px;
        background-color: rgba(6, 73, 56, 0.61);
        color: white; }
    .div_padre_chat .div_chat .input_chat {
      text-align: center;
      border: 2px solid black;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 50px;
      text-align: center;
      background-color: rgba(6, 73, 56, 0.61);
      color: white;
      transition: 0.2s;
      padding: 0;
      margin: 0; }
      .div_padre_chat .div_chat .input_chat::placeholder {
        color: white; }
      .div_padre_chat .div_chat .input_chat:hover {
        background-color: rgba(6, 73, 56, 0.849);
        transition: 0.2s; }

.div_padre_products {
  display: flex;
  margin: auto;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center; }
  .div_padre_products .div_product {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    color: white;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    margin: 20px 40px;
    width: 220px;
    height: 220px; }
    .div_padre_products .div_product:hover {
      transform: scale(1.1, 1.1);
      transition: 0.3s; }
    .div_padre_products .div_product h3 {
      text-align: center;
      color: #0b2e4b;
      margin-bottom: 10px; }
    .div_padre_products .div_product p {
      margin: 0px 10px 10px;
      color: #0b2e4b; }

.div_detail_container {
  display: flex;
  width: 500px;
  min-height: 420px;
  justify-content: space-around;
  margin: 40px auto 228px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6); }
  .div_detail_container .div_detail h3 {
    color: black;
    font-size: 35px;
    margin: 20px 0px;
    text-align: center; }
  .div_detail_container .div_detail p {
    font-size: 40px;
    display: inline-block;
    margin: 40px;
    text-align: center;
    display: block; }
