<div class="div_padre_chat" style="margin-top: 50px;">
    <div class="div_chat">
        <div class="chat_messages">
            <center>
                <h3 class="chat_title">Bienvenidos al chat</h3>
            </center>
            <p id="message_logs"></p>
        </div>
        <input id="chat_box" class="input_chat" placeholder="Ingrese un mensaje...">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
