<header class="header" id="arriba">
    <nav class="header_nav">
        <input type="checkbox" id="check">
        <label for="check" class="btn_check"><i class="fa-solid fa-bars"></i></label>
        <ul class="header_navbar_list">
            <div class="navbar_div_icon_home">
                <a href="/home">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">home</span>
                        <label>Home</label>
                    </div>
                </a>
            </div>
            <li><a href="/api/products"><i class="fa-solid fa-house list_icons"></i>Productos</a></li>
            <li><a href="/api/realtimeproducts"><i class="fa-solid fa-book list_icons"></i>RealTime</a></li>
            <li><a href="/views/socket"><i class="fa-solid fa-folder list_icons"></i>Chat</a></li>
            <div class="navbar_div_icons">
                <a href="/session/login">
                    <div class="nav_login">
                        <span class="material-symbols-outlined md-24">face</span>
                        <label>Log In</label>
                    </div>
                </a>
                <a href="/session/register">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">person</span>
                        <label>Register</label>
                    </div>
                </a>
                <a href="/api/carts">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <label>Carrito</label>
                    </div>
                </a>
                <a href="/session/logout">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">logout</span>
                        <label>Log Out</label>
                    </div>
                </a>
            </div>
        </ul>
    </nav>
</header>
<div class="div_padre_chat" style="margin-top: 50px;">
    <div class="div_chat">
        <div class="chat_messages">
            <center>
                <h3 class="chat_title">Bienvenidos al chat</h3>
            </center>
            <p id="message_logs"></p>
        </div>
        <input id="chat_box" class="input_chat" placeholder="Ingrese un mensaje...">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
