<form action="/api/users/a/documents" method="POST" enctype="multipart/form-data">
    <label>Subir imagen de perfil</label>
    <input type="file" name="profile_picture" id="profile_picture">
    <input type="submit" value="Subir archivo">
</form>