<form action="" method="POST" enctype="multipart/form-data">
    <label>Subir imagen de perfil</label>
    <input type="file" name="profile_picture" id="profile_picture">
    <label>Subir imagen de producto</label>
    <input type="file" name="product_picture" id="product_picture">
    <label>Subir un documento</label>
    <input type="file" name="document" id="document">
    <input type="submit" value="Subir archivo">
</form>