*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}
*::selection {
    color: #ff004c;
    background-color: rgba(0, 0, 0, 0); 
}

input {
    display: block;
    margin-bottom: 15px;
}

.register_form_input{
    display: block;
}

.div_padre_chat {
    width: 1000px;
    margin: auto;
}

.div_chat{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.chat_messages {
    height: 700px;
    width: 500px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat_title {
    padding: 5px;
    background-color: rgba(6, 73, 56, 0.61);
    color: white;
}


.input_chat {
    text-align: center;
    border: 2px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    text-align: center;
    background-color: rgba(6, 73, 56, 0.61);
    color: white;
    transition: 0.2s;

    padding: 0;
    margin: 0;
}
.input_chat::placeholder {
    color: white;
}
.input_chat:hover{
    background-color: rgba(6, 73, 56, 0.849);
    transition: 0.2s;
}
p {
    margin: 5px 10px;
}

