.div_carritos{
    display: flex;
    justify-content: center;
    
    .div_carrito_individual {
        margin: 20px;
        text-align: center;
        .div_product{
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 7px;
            color: white;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
            transition: 0.3s;
    
            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.3s;
            }
            margin: 20px 40px;
            width: 220px;
            height: 220px;
            
            h3{
                text-align: center;
                color: rgb(11, 46, 75);
                margin-bottom: 10px;
            }
            p{
                margin: 0px 10px 30px;
                text-align: center;
                color: rgb(11, 46, 75);
            }
            a{
                display: block;
                text-align: center;
                margin-bottom: 10px;
                color: rgb(230, 49, 25)
            }
        }
    }
}